.plan-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.plan-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: left;
}

.plan-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.plan-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    position: relative; /* 즐겨찾기 버튼 위치를 위해 필요 */
}

.plan-name {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.plan-price-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 120px;
    margin-left: 1rem;
}

.plan-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #d60087;
    margin-bottom: 0.5rem;
}

.plan-detail-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    background-color: #d60087;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.plan-detail-button:hover {
    background-color: #bd006f;
}

.plan-loading {
    text-align: center;
    margin-top: 1rem;
    color: #777;
    font-size: 0.95rem;
}

/* 즐겨찾기 버튼 스타일 */
.favorite-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #ccc; /* 기본 회색 별 */
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.favorite-button.active {
    color: #D63484; /* 즐겨찾기 된 경우 진한 핑크 */
}
